.inputWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.label {
    margin-bottom: 10px;
    font-weight: bold;
}

.input {
    border-radius: 5px;
}

.input:focus {
    outline: solid 2px #3E5151;
}